<div id="graphArea" class="container">
  <!--<span>{{results}}</span>-->
  <app-diagram-editor [model]="model">
  </app-diagram-editor>
</div>

<div class="form-style-10">
  <h1>Options</h1>
  <button class="btn btn-info" (click)="getStatements()" id = "getAllButton">View Full Graph</button>
  <button class="btn btn-info" (click)="getParents()" id = "parentBtn">Print Parents</button>
    <div class="section"><span>1</span>Lookup details</div>
    <div class="inner-wrap">
      <label>Concept
        <select [(ngModel)]="sub" placeholder="Enter Consept">
          <option  *ngFor="let sb of subjects" value="{{sb}}">{{sb}}</option>
        </select>
      </label>
      <label>predicate
        <select [(ngModel)]="pred" placeholder="Enter Predicate">
          <option  *ngFor="let pred of predicates" value="{{pred}}">{{pred}}</option>
        </select>
      </label>
    </div>
  <button class="btn btn-info" (click)="getNeighbours()" id = "getNei">Neighbours</button>
  <button class="btn btn-info" (click)="resolveRoot()" id = "getRoot">Find Root</button>

</div>
