<div class="form-style-10">
  <h1>Add new Relation<span>Add new relation by defining following parameters.</span></h1>
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="section"><span>1</span>Statement Details</div>
    <div class="inner-wrap">
      <label>Relation<input type="text" formControlName="sub" /></label>
      <label>Domain
        <select formControlName="domain">
          <option *ngFor="let object of subjects" value="{{object}}">{{object}}</option>
        </select></label>
      <label>Range
      <select formControlName="range">
        <option *ngFor="let object of subjects" value="{{object}}">{{object}}</option>
      </select></label>
    </div>

    <div class="button-section">
      <input type="submit" class="button expanded" value="Add Relation" [disabled]="!rForm.valid" />
    </div>
  </form>
</div>
