<div class="form-style-10">
  <h1>Delete Relation<span>Delete a relation by defining following parameters.</span></h1>
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="section"><span>1</span>Statement Details</div>
    <div class="inner-wrap">
      <label>Relation to delete
        <select formControlName="sub" placeholder="Enter Object">
          <option  *ngFor="let sb of predicates" value="{{sb}}">{{sb}}</option>
        </select>
      </label>
    </div>

    <div class="button-section">
      <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid" />
    </div>
  </form>
</div>
