<div class="form-style-10">
  <h1>Add Statement<span>Add new statement by defining following parameters.</span></h1>
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="section"><span>1</span>Statement Details</div>
    <div class="inner-wrap">
      <label>Subject <input type="text" formControlName="sub" /></label>
      <label>Predicate
        <select formControlName="pred" placeholder="Enter Predicate">
          <option  *ngFor="let sb of predicates" value="{{sb}}">{{sb}}</option>
        </select>
      </label>
      <label>Predicate
        <select formControlName="obj" placeholder="Enter Object">
          <option  *ngFor="let sb of objects" value="{{sb}}">{{sb}}</option>
        </select>
      </label>
    </div>

    <div class="section"><span>2</span>Namespace Details</div>
    <div class="inner-wrap">
      <label>predicate Namespace
        <select formControlName="predNs">
          <option value="ex" selected>Loacal</option>
          <option value="RDF">RDF</option>
          <option value="RDFS">RDFS</option>
          <option value="foaf">FOAF</option>
        </select>
      </label>
    </div>

    <div class="button-section">
      <input type="submit" class="button expanded" value="Add Statement" [disabled]="!rForm.valid" />
    </div>
  </form>
</div>
